appname = marketing
httpport = 8080
runmode = dev
enablexsrf = true
xsrfkey = vyX4EDOZW3sonu0*doFkW$mer!&QNuQlupvT%r8hF&vM4FDO7PbKznkuzA
xsrfexpire = 3600
sessionon = true
EnableAdmin = true
EnableDocs = true
sessionprovider=redis
sessionname=marketing
sessionproviderconfig=redis:6379,,ffX7lxV6i4qMtFxGBzWdg6Vf3TDFLb
mysql_user=amigatester
mysql_pass=X%vm2KkJ%JM9WIe
mysql_host=mysql
mysql_port=3306
mysql_dbname=amigamarketing
copyrequestbody=true
dataEncrykey=abc&1*~#^2^#s0^=)^^7%b34
[langs] 
types=en-US|zh-CN
names=English|Chinese

dbdebug=true

[googlescrape]
user=root
pass=mypassword
host=amiga_googlescrape
port=22
worrkernum=1

[emailscrape]
user=root
pass=mypassword
host=amiga_emailscrapy
port=22

[scrapesexkeyword]
user=scrapykeyer
pass=scrapypassword
host=amigakeywordscrapy
port=22
status=0

[mainsite]
url=http://daqiu.kaelmarts.com:80
user=aapiuser
pass=pgMZp2b4oJ5uDNPVvDeK

[webshare]
token=4ZWtvyQPc$Lf0lWWykx%QNinl7JltT